.table-box > .leaderBoard > table {
	margin: 15px;
	text-align: center;
	width: 600px;
}

.table-box > .leaderBoard > table > thead {
	border: 1px solid black;
}

.table-box > .leaderBoard > table > thead > tr {
	
}

.table-box > .leaderBoard > table > thead > tr > th {
	border: 1px solid black;
	width: 8%;
}

.table-box > .leaderBoard > table > thead > tr > th:nth-child(2) {
	width: 20%;
}

.table-box > .leaderBoard > table > tbody {
	border: 1px solid black;
}

.table-box > .leaderBoard > table > tbody > tr > td {
	border: 1px solid black;
}