/* 리그 순위표 */
.list-box > .leaderBoard > table {
	margin: 15px;
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEEEEE;
}

.list-box > .leaderBoard > table > thead {
	border: 1px solid black;
}

.list-box > .leaderBoard > table > thead > tr > th {
	width: 8%;
	background-color: #F5A9A9;
	padding: 5px;
}

.list-box > .leaderBoard > table > thead > tr > th:nth-child(2) {
	width: 20%;
}

.list-box > .leaderBoard > table > tbody {
	border: 1px solid black;
}

.list-box > .leaderBoard > table > tbody > tr > td {
	background-color: #AFDEFF;
	padding: 3px;
}

.list-box > .leaderBoard > table > tbody > tr:hover > td {
	background-color: #00BFFF;
}

.list-box > .leaderBoard > table > tbody > tr > td:nth-child(2) {
	font-weight: bold;
}

/* 게시물 리스트 */
.list-box > .article-list {
	width: 100%;
}

.list-box > .article-list > table {
	width: 100%;
}
.list-box > .article-list > table th {
	background-color: #F5A9A9;
	padding: 8px;
}
.list-box > .article-list > table td {
	background-color: #AFDEFF;
	padding: 6px;
}
.list-box > .article-list > table tr th:nth-child(1) {
	width: 5%;
	text-align: center;
}
.list-box > .article-list > table tr th:nth-child(2) {
	width: 54%;
}
.list-box > .article-list > table tr th:nth-child(3) {
	width: 8%;
	text-align: center;
}
.list-box > .article-list > table tr th:nth-child(4) {
	width: 8%;
	text-align: center;
}
.list-box > .article-list > table tr th:nth-child(5) {
	width: 10%;
	text-align: center;
}
.list-box > .article-list > table tr th:nth-child(6) {
	width: 15%;
	text-align: center;
}
.list-box > .article-list > table tr td {
	text-align: center;
}
.list-box > .article-list > table tr td:nth-child(2) {
	text-align: left;
}

.list-box > .article-list > table tr:hover td {
	background-color: #81BEF7;
	font-weight: bold;
}

/* 버튼 */

.list-btn-box {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.list-btn-box > .list-btn { 
	display: block;
	padding: 5px;
	margin: 10px;
	background-color: #A9F5A9;
	border-radius: 5px;
}

.list-btn-box > .list-btn:hover {
	background-color: #2EFE2E;
}

/* 클럽데이터 */

.clubData-chart {
	display: flex;
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #EEEEEE;
}

.clubData-chart > .clubData-chart-left {
	background-color: #F5A9A9;
	padding: 10px;
}
.clubData-chart > .clubData-chart-left > .cl {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.clubData-chart > .clubData-chart-left > .leagueName {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #AFDEFF;
}
.clubData-chart > .clubData-chart-left > .leagueName > img {
	max-height: 60px;
	margin-right: 20px;
} 
.clubData-chart > .clubData-chart-left > .leagueName > span {
	font-size: 1.4rem;
	font-weight: bold;
}
.clubData-chart > .clubData-chart-left > .club-logo {
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: #AFDEFF;
}
.clubData-chart > .clubData-chart-left > .club-logo > img {
	max-height: 300px;
}
.clubData-chart > .clubData-chart-left > .club-fullname {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	background-color: #AFDEFF;
}
.clubData-chart > .clubData-chart-left > .mascot {
	background-color: #AFDEFF;
}
.clubData-chart > .clubData-chart-left > .mascot > .cl {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: 10px;
}
.clubData-chart > .clubData-chart-left > .mascot > img {
	max-width: 300px;
}

.clubData-chart > .clubData-chart-right {
	background-color: #F5A9A9;
	height: 100%;
	padding: 10px;
} 
.clubData-chart > .clubData-chart-right > div {
	display: flex;
	justify-content: space-around;
}
.clubData-chart > .clubData-chart-right > div > div {
	margin: 10px;
	width: 190px;
}
.clubData-chart > .clubData-chart-right > div > div > span {
	display: block;
	padding: 10px;
	box-sizing: border-box;
	background-color: #EEEEEE;
	text-align: center;
	width: 100%;
}
.clubData-chart > .clubData-chart-right > div > div > .item {
	font-weight: bold;
	background-color: #AFDEFF;
	width: 100%;
}
.clubData-chart > .clubData-chart-right > div > div > img {
	max-width: 190px;
}
