
.myinfo h2 {
	display: block;
	text-align: center;
}

.myinfo > .info-table > .member-info-box {
	background-color: #EEEEEE;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.myinfo > .info-table > .member-info-box > .member-info {
	width: 100%;
	display: flex;
}

.myinfo > .info-table > .member-info-box > .member-info > div {
	border: 5px solid #EEEEEE;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myinfo > .info-table > .member-info-box > .member-info > .subject {
	background-color: #F5A9A9;
	width: 30%;
	font-weight: bold;
	font-size: 1.1rem;
}

.myinfo > .info-table > .member-info-box > .member-info > .subject-body {
	background-color: #AFDEFF;
	width: 70%;
}

.myinfo > .info-table > .member-info-box > .member-info > .subject-rating {
	border: 5px solid #EEEEEE;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #AFDEFF;
	width: 70%;
	font-size: .9rem;
}

.myinfo > .info-table > .member-info-box > .member-info > .subject-rating > input {
	margin-left: 10px;
}

/* 작성한 글목록 */
.myinfo > .articleList > .articleList-box {
	background-color: #EEEEEE;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.myinfo > .articleList > .articleList-box > .article {
	display: flex;
}
.myinfo > .articleList > .articleList-box > .article > div {
	border: 5px solid #EEEEEE;
	background-color: #AFDEFF;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.myinfo > .articleList > .articleList-box > .article > div:nth-child(1) {
	width: 10%;
}
.myinfo > .articleList > .articleList-box > .article > div:nth-child(2) {
	width: 45%;
	justify-content: start;
}
.myinfo > .articleList > .articleList-box > .article > div:nth-child(3) {
	width: 20%;
}
.myinfo > .articleList > .articleList-box > .article > div:nth-child(4) {
	width: 22%;
	
}